html, body {
    height: auto;
    overflow-y: auto; 
}

/* Responsive Headings */
h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
    line-height: 1.5;
}

.luma-checkout--modal {
    max-width: 550px !important;
}

.luma-checkout--button {
    font-size: 2rem !important;
    background-color: #36bdb4 !important;
}

/* Global Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Responsive Base Font Size */
html {
    font-size: 0.625vw; 
}

footer {
    text-align: center;
    color: white;
    padding: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Headings */
@media (max-width: 768px) {
    h1 {
        font-size: 15rem; 
        font-weight: bold;
    }

    h2 {
        font-size: 12rem; 
        font-weight: bold;
    }

    h3 {
        font-size: 8rem; 
    }

    h4 {
        font-size: 6rem; 
    }

    p {
        font-size: 5rem; 
        line-height: 1.5;
    }
    .luma-checkout--button {
        font-size: 6rem !important;
        background-color: #36bdb4 !important;
        padding: 2.5rem 5rem !important;
    }
    .luma-checkout--close-btn img {
        height: 7.5rem !important;
        width: 7.5rem !important;
      }
      .luma-checkout--close-btn {
        top: 2.5rem !important;
        right: 7.5rem !important;
      }
      footer {
        padding: 5rem;
      }
}
